/*关于我们的新闻样式*/
.aboutus{
	
}
.aboutus .nav{
	height: 40px;
	/*background-color: pink;*/
	margin: 20px 0;
}
.aboutus .nav{
	box-sizing: border-box;
	border: 2px solid #fedd04;
	border-radius: 3px;
}
.aboutus .nav li{
	float: left;
	line-height: 37px;
	position: relative;
}
.aboutus .nav li a{
	font-size:18px;
	color:#fff;
	margin: 0 24px;
}
.aboutus .nav li span{
	font-family: "icomoon";
}
/*给每个li追加伪类元素*/
.aboutus .nav li:after{
	content: "";
    display: block;
    height: 25px;
    width: 25px;
    border-right: 2px solid #fedd04;
    border-bottom: 2px solid #fedd04;
    position: absolute;
    right: -8px;
    top: 5px;
    transform: rotate(-45deg);
}
/*关于我们的log部分*/
.aboutusLog{
	height: 70px;
	/*background-color: pink;*/
}
.aboutusLog p{
	line-height: 70px;
	font-size: 40px;
	color:#fedd04 ;
	font-weight: 500;
	margin-left: 17px;
}
.aboutusContent div{
	width: 1110px;
	/*height: 30px;*/
	margin: 0 auto;
	/*background-color: pink;*/
}
/*所有样式*/
.aboutusContent div p{
	color:#9b9b9b;
	line-height: 28px;
}
/*第一个样式*/
.aboutusContent div p:nth-of-type(1),
.aboutusContent div p:nth-of-type(2),
.aboutusContent div p:nth-of-type(5),
.aboutusContent div p:nth-of-type(6),
.aboutusContent div p:nth-of-type(7),
.aboutusContent div p:nth-of-type(8),
.aboutusContent div p:nth-of-type(9),
.aboutusContent div p:nth-of-type(10),
.aboutusContent div p:nth-of-type(11),

{
	margin-bottom: 16px;
}
.aboutusContent div p:nth-of-type(3),
.aboutusContent div p:nth-of-type(4),
.aboutusContent div p:nth-of-type(12),
.aboutusContent div p:nth-of-type(13){
	margin-bottom:30px;
}
.aboutusContent div p:last-child{
	margin-top: 24px;
}

.bg{
	background-color: rgba(41,41,41,.2);
}