/*关于我们的新闻样式*/
.aboutus{
	
}
.aboutus .nav{
	height: 40px;
	/*background-color: pink;*/
	margin: 20px 0;
}
.aboutus .nav{
	box-sizing: border-box;
	border: 2px solid #fedd04;
	border-radius: 3px;
}
.aboutus .nav li{
	float: left;
	line-height: 37px;
	position: relative;
}
.aboutus .nav li a{
	font-size:18px;
	color:#fff;
	margin: 0 24px;
}
.aboutus .nav li span{
	font-family: "icomoon";
}
/*给每个li追加伪类元素*/
.aboutus .nav li:after{
	content: "";
    display: block;
    height: 25px;
    width: 25px;
    border-right: 2px solid #fedd04;
    border-bottom: 2px solid #fedd04;
    position: absolute;
    right: -8px;
    top: 5px;
    transform: rotate(-45deg);
}
/*关于我们的log部分*/
.aboutusLog{
	height: 70px;
	/*background-color: pink;*/
}
.aboutusLog p{
	line-height: 70px;
	font-size: 40px;
	color:#fedd04 ;
	font-weight: 500;
	margin-left: 17px;
}
.aboutusContent div{
	width: 1110px;
	margin: 0 auto;
}
/*内部具体新闻内容*/
.newsContent{
	border-bottom: 2px dotted #fff;
}
.newsContent p:nth-of-type(1){
	color:#fedd04 ;
	font-size:26px;
	line-height: 20px;
	margin: 20px 0;
}
.newsContent a{
	font-size: 14px;
	line-height: 20px;
}
.newsContent p:nth-of-type(2){
	color:#a49592;
	font-size: 12px;
	margin-bottom: 30px;
	line-height: 20px;
}

.bg{
	background-color: rgba(41,41,41,.2);
}

