/*关于我们的新闻样式*/
.aboutus{
	
}
.aboutus .nav{
	height: 40px;
	/*background-color: pink;*/
	margin: 20px 0;
}
.aboutus .nav{
	box-sizing: border-box;
	border: 2px solid #fedd04;
	border-radius: 3px;
}
.aboutus .nav li{
	float: left;
	line-height: 37px;
	position: relative;
}
.aboutus .nav li a{
	font-size:18px;
	color:#fff;
	margin: 0 24px;
}
.aboutus .nav li span{
	font-family: "icomoon";
}
/*给每个li追加伪类元素*/
.aboutus .nav li:after{
	content: "";
    display: block;
    height: 25px;
    width: 25px;
    border-right: 2px solid #fedd04;
    border-bottom: 2px solid #fedd04;
    position: absolute;
    right: -8px;
    top: 5px;
    transform: rotate(-45deg);
}

.bg{
	background-color: rgba(41,41,41,.2);
	height: 600px;
}
/*内部具体新闻内容*/
.aboutusContent .goods-t .left{
	width: 710px;
	height: 228px;
	background-color: #fff;
	border: 2px solid #fff;
	position: relative;
	border-radius: 3px;
}
.aboutusContent .goods-t .left:hover{
	border: 2px solid #a3a4a4;
}
.goods-t .left img{
	display: inline-block;
	height: 228px;
	position: absolute;
	left: 50%;
	margin-left: -114px;
	
}
/*上边右边部分*/
.goods-t{
	position: relative;
}
.goods-t .right{
	top: 0;
	right: 20px;
	position: absolute;
	width: 380px;
	height: 228px;
	margin-top:24px ;
	/*background-color: pink;*/
}
.right .p1{
	line-height: 32px;
	font-size: 26px;
	font-weight: 500;
	color:#fedd04 ;
}
.right .p2{
	line-height: 20px;
	font-size: 16px;
	color:#fff ;
	margin: 10px 0 20px 0;
}
/*三个按钮部分*/
.three span{
	font-family: "icomoon";
}
.three a{
	margin: 0 3px;
	display: inline-block;
	font-size: 20px;
	border-radius: 5px;
}
.three .a0{
	background-color: deepskyblue;
}
.three .a1{
	background-color: #1b95e0;;
}
.three .share .a2{
	background-color: #fe6d4c;
}

.three a div{
	margin: 4px;
	
}
.share{
	display: inline-block;
	position: relative;
}
/*连接部分*/
.links{
	display: none;
	width: 160px;
	height: 225px;
	position: absolute;
	margin-left: 3px;
	background-color: rgba(255,255,255,.1);
}
.links-t{
	height: 100%;
	height:195px;
	/*background-color: pink;*/	
}
.link:hover{
	background-color: rgba(178,178,178,.7);
}

/*文字部分*/
.share .links .links-t .link span{
	font-family: "icomoon";
	font-size:20px;
	color: darkgrey;
}
.share .links .links-t .link .a4{
	font-size: 18px;
	color: rgba(0,0,0,.7);
	font-weight: 500;
}
/*弹出栏的下边部分*/
.links-b{
	position: relative;
	right: -40px;
}
.links-b div{
	position: absolute;
}
.links-b span{
	
	font-family: "icomoon";
	color: rgba(0,0,0,.7);
}
/*下边部分*/
.goods-b .block{
	width: 140px;
	height: 60px;
	background-color: #FFF;
	margin-top: 30px;
	border-radius: 4px;
	margin-bottom: -2px;

}
.goods-b .block p{

	font-size: 22px;
	line-height: 22px;
	color:rgba(0,0,0,.7);
	padding-top: 19px;
	padding-left:8px ;

}
hr{
	margin-bottom: 22px;
}
/*最后部分*/
.goods-b .lastCon p{
	display: inline-block;
	width: 100%;
	height: 20px;
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
